In [2]:
import pandas as pd
df = pd.read_csv('../Resources/final_scrape.csv')

In [3]:
df

,Unnamed: 0,Name,metascore,user_score,release_date,positive_critics,neutral_critics,negative_critics,positive_users,neutral_users,negative_users,developer,number_players,rating
0,0,Wii Sports,\n76\n,8.0,"Nov 19, 2006",31,20,0,105,40,3,\n Nintendo,No Online Multiplayer,E
1,1,Mario Kart Wii,\n82\n,8.4,"Apr 27, 2008",65,7,1,235,62,22,\n Nintendo,Up to 12,E
2,2,Wii Sports Resort,\n80\n,8.1,"Jul 26, 2009",60,13,0,62,15,4,\n Nintendo,1-4,E
3,3,New Super Mario Bros.,\n89\n,8.5,"May 15, 2006",62,3,0,137,28,2,\n Nintendo,No Online Multiplayer,E
4,4,Wii Play,\n58\n,6.5,"Feb 12, 2007",2,31,8,32,27,15,\n Nintendo,No Online Multiplayer,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8411,8411,Mini Desktop Racing,\n2.3\n,2.3,"Dec 4, 2007",0,0,1,0,0,3,\n Data Design Interactive ...,No Online Multiplayer,E
8412,8412,PGA European Tour,\n58\n,8.0,"Jun 15, 2000",1,8,3,0,0,1,\n Infogrames,NaN,E
8413,8413,Planet Monsters,\n67\n,tbd,"Dec 6, 2001",3,6,0,0,0,0,\n Planet Interactive ...,NaN,E
8414,8414,Bust-A-Move 3000,\n53\n,tbd,"Feb 12, 2003",0,3,1,0,0,0,\n Taito Corporation ...,1-2,E
8415,8415,Men in Black II: Alien Escape,\ntbd\n,tbd,"Feb 27, 2003",0,2,1,0,0,1,\n Atari,1 Player,T